<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Latihan | Lit Component</title>
  </head>
  <body>
    <title-app></title-app>
    <hr />
    <welcome-element name="John Doe" age="20"></welcome-element>
    <button id="change-name">Ubah Nama</button>
    <button id="change-age">Ubah Umur</button>
    <hr />
    <auth-element></auth-element>
    <hr />
    <login-element minPasswordLength="12" withPlaceholder></login-element>
    <hr />
    <to-dos id="todo-container"></to-dos>
  </body>
</html>
